@import "tailwindcss";


header {
	z-index: 1;
	display: grid;
	grid-template-columns: 70%;
	align-items: center;
	justify-content: center;
	margin-top: 2%;
	width: 100vw;
	height: 80px;
	position: fixed;
}

header h1 {
	color: rgb(255, 0, 123);
	text-shadow:0px 0px 10px  rgb(255, 73, 161);
	display: grid;
	align-items: center;
	justify-content: center;
  font-weight: 600;
	background-color: rgba(244, 244, 244, 0.386);
	backdrop-filter: blur(8px);
	width: 100%;
  height: 100%;
	border: 1px solid rgb(255, 224, 245);
	border-radius: 20px;
	box-shadow: 1px 1px 10px rgb(255, 234, 249);
}