@import "tailwindcss";


* {
  margin: 0;
  padding: 0;
  font-family: "Onest", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

body {
  height: 95vh;
  width: 99%;
  background: fixed url(../public/background.jpg) no-repeat center center;
  background-size: cover;
  
}

@keyframes Balloons {
  0% {
    position: fixed;
    top: 10%;
  }

  50% {
    position: fixed;
    top: 40%;
  }

  100% {
    position: fixed;
    top: 10%;
  }
}

@keyframes BalloonsHeart {
  0% {
    position: fixed;
    top: 10%;
  }

  50% {
    position: fixed;
    top: 40%;
  }

  100% {
    position: fixed;
    top: 10%;
  }
}


@keyframes Balloon {
  0% {
    position: fixed;
    top: 100%;
  }

  50% {
    position: fixed;
    
    top: -22%;
  }

  60% {
    left:95%;
  }
  70% {
    position: fixed;
    right: 98%;
    top: -22%;
    rotate: 44deg;
  }

  80% {
    left:95%;
  }
  90% {
    position: fixed;
    right: 98%;
    top: -22%;
  }

  100% {top: -20%; right: 98%;}
}

@keyframes BalloonHeart {
  0% {
    position: fixed;
    top: 140%;
  }

  50% {
    position: fixed;
    
    top: -28%;
  }


  70% {
    position: fixed;
    left: 0%;
    top: -28%;
    rotate: -44deg;
  }

  90% {
    position: fixed;
    left: 0%;
    top: -28%;
  }

  100% {top: -28%; left: 0%;}
}


.balloonsAnim {

  animation: Balloons 4s infinite ease-in-out;
}

.balloonsHeartAnim {

  animation: Balloons 5s infinite ease-in-out;
}

.balloonAnim {

  animation: Balloon 7s infinite ease-in-out;
}


.balloonHeartAnim {

  animation: BalloonHeart 9s infinite ease-in-out;
}

.balloon {
    width: 40px;
    height: 50px;
    background: #ff6b6b;
    border-radius: 50%;
    position: relative;
    animation: float 6s ease-in-out infinite;
}

.balloon:after {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 50%;
    width: 2px;
    height: 15px;
    background: #333;
}