@import "tailwindcss";

.mainCardWin {
	width: 100%;
	display: grid;
	justify-content: center;
	align-items: center;
	grid-template-columns: 30% 30%;
	gap: 40px;
	grid-auto-rows: 500px;
}

.card {
	height: 100%;
	background-color: rgba(244, 244, 244, 0.386);
	backdrop-filter: blur(8px);
	border-radius: 20px;
	border: 1px solid rgb(236, 236, 236);
	z-index: 0;
}

.UserName {
	padding-left: 8px;
	padding-top: 5px;
	color: white;
	z-index: 1;
	position: absolute;
}

.cntImg {
	height: 85%;
	overflow: hidden;
	padding-bottom: 10px;
	border-radius: 20px 20px 0 0;
	z-index: 0;
}

.ImgUser {
	width: 100%;
	height: 120%;
	transition: all .6s ease;
	z-index: 0;
	&:hover {
		transform: scale(1.08);
	}
}



.textUser {
	margin-top:10px;
	margin-left: 7px;
	font-size: 20px;
	color: black;
}
a {
	text-decoration:none ;
}